{% extends 'basic_site_structure.twig' %}
{% block content %}
    <article class="column column-8">
        <table id='osobniPodaci'>
            <tr>
                <th>Osobni podaci</th>
            </tr>
            <tr>
                <td>Ime:</td>
                <td>Luka</td>
            </tr>
            <tr>
                <td>Prezime:</td>
                <td>Mitak</td>
            </tr>
            <tr>
                <td>Mjesto:</td>
                <td>Zagreb</td>
            </tr>
            <tr>
                <td>Datum rođenja:</td>
                <td>25.06.1993.</td>
            </tr>
        </table>
        <table id='skolovanje'>
            <tr>
                <th>Podaci o školovanju</th>
            </tr>
            <tr>
                <td>Osnovna škola:</td>
                <td>Osnovna škola Šestine</td>
            </tr>
            <tr>
                <td>Srednja škola:</td>
                <td>Tehnička škola Ruđera Boškovića</td>
            </tr>
            <tr>
                <td>Fakultet:</td>
                <td>Tehničko Veleučilište u Zagrebu</td>
            </tr>
        </table>

        <table id='znanja'>
            <tr>
                <th>Znanja i vještine</th>
            </tr>
            <tr>
                <td>Poznavanje Jave, Android-a, HTML-a, CSS-a, PHP-a, Adobe Photoshop-a, Adobe Illustrator-a</td>
            </tr>
            <tr>
                <td>Osnovno poznavanje C++, C#, 3D modeliranja</td>
            </tr>
        </table>
    </article>

{% endblock %}